html{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling on body */
    font-family: 'JetBrains Mono';
}
#root {
    height: 100%; 
    width: 100%;
    margin: 0;
    padding: 0;

}
img{
    display: block;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

input {
    display: block;
    background: none;
    border: 2px solid white;
    font-size: 16px;
    
    /* position: relative; */
}