body {
    overflow: hidden; /* Prevent scrolling on body */
    font-family: 'JetBrains Mono';
    background-image: url('../../../assets/auditorium.jpg');
    background-size: cover;       
    background-position: center;  
    background-attachment: fixed;  
    margin: 0;     
    padding: 0;               
    height: 100%;                 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }

body::before {
    content: "";                  
    position: fixed;            
    top: 0;                       
    left: 0;                     
    width: 100%;                 
    height: 100%;                  
    background-color: rgba(8, 2, 73, 0.95);
    z-index: 1;                   
}

.layout-container {
    padding: 20px;
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%; /* Ensure full height of the layout container */
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom); /* Safe area inset for iOS devices */
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.top-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;  /* Height of the top shadow */
    background: linear-gradient(to bottom, rgba(24,24,24,1) 0%, rgba(23,23,26,0.75) 35%, rgba(8,2,73,0.3) 100%);
    z-index: 1;  /* Makes sure it's above the background but below content */
}
  
.bottom-shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px;  /* Height of the bottom shadow */
    background: linear-gradient(to top, rgba(24,24,24,1) 0%, rgba(23,23,26,0.75) 35%, rgba(8,2,73,0.3) 100%);
    z-index: 1;  /* Makes sure it's above the background but below content */
}