

.home-container.vote-form-container{
    padding: 4em 5em;
    padding-bottom: 2em;
}
.home-container{
    gap: 1em;
    padding: 2em 5em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: rgba(255, 255, 255,0.1);
    border-radius: 1em;
    max-width: 750px;
    text-align: center;
}
.home-vote-closed-message {
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}

.vote-open-title {
    font-size: 2em;
    font-weight: 800;
}

.vote-form button {
    display: block;
    border: none;
    margin-bottom: 1.5em;
    padding: 1em 10em;
    border-radius: 1em;
    color: white;
    background-color: #790C18;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.vote-form button:hover {
    background-color: #a40f22; /* Slightly lighter red on hover */
    transform: scale(1.05); /* Slightly enlarge the button */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}

@media (max-width: 500px) {
    .home-container{
        gap: 1em;
        padding: 2em 2em;
    }

    .home-vote-closed-message {
        font-size: 1.5em;
    }
}


@media (max-width: 320px) {
    .home-container{
        gap: 1em;
        padding: 2em 2em;
    }

    .home-vote-closed-message {
        font-size: 1em;
    }
}
